﻿div.cssLogin
{
	text-align:center;
	padding:30px;
}
div.cssDefaultCont
{
	margin-right: auto; 
	margin-left: auto; 
	width: 500px;
	text-align:center;
	padding:50px;
}
div.cssAllCont
{
	margin-right: auto; 
	margin-left: auto; 
	width: 800px;
	text-align:left;
	padding:50px;
}
